*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
  }
#todo_text{
    padding: 10px;
}
#disp{
    padding: 10px;
}
/* #inpt{
    position: absolute;
    left: 100px;
} */
 .inp{
    position: absolute;
    top: 50px;
    left: 500px;
 
    border: solid;
    padding: 50px;
    border-radius: 20px;
    align-items: center;
}
.display_text{
    position: absolute;
    top: 220px;
    left: 500px;
     
    border: solid;
    padding: 50px;
    border-radius: 20px;
    align-items: center;
}
ul li{
    border: solid;
    list-style:none;
    cursor: pointer;
    padding: 12px;  
}
/* #task_list{
    list-style:none;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
} */
ul li.check{
    color:#555;
    text-decoration: line-through;
}
ul li span{
    position: absolute;
    /* right: 0;
    top: 5px;
    width: 40px;
    height: 40px; */
    font-size: 25px;
    color: #555;
    /* line-height: 20px; */
    text-align: center;
    left: 450px;
    border-radius: 30%;
    
}
ul li span:hover{
    background: #b9b9d0;
}
/*  */
.check {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}
